#mercurymessagesCountValue,
#jewelCount
{
	background-color: #9da1a7
}

._1-ia,
/*._45mq,*/
.fbChatSidebar
{
	display: none !important;
}

#scrolloffmenu{
	z-index: 10 !important;
}

#scrolloffmenu{
	z-index: 10 !important;
}
/* #pagelet_bluebar {
	-webkit-filter: grayscale(100%);
   filter: grayscale(100%);
} */

/* make the background white instead of the usual depressing grey */

#globalContainer,
#contentCol,
._5vb_,
._5vb_ #contentCol,
#u_0_1s,
._4oes,
._51x_,

body {
    background-color: white !important;
}


/*table, th, td{
	border: 1px solid black;
	padding: 12px;
	color: blue;
}*/

#testest{
	margin-top: 350px;
}

#tabble{
    border: 0px solid black;
    table-layout: fixed;
    border-collapse: collapse;
    width: 40px;
    text-align: center;

}

th, td {
    border: 1px solid black;
    width: 5px;
    text-align: center;
}
